<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="$lang$" xml:lang="$lang$"$if(dir)$ dir="$dir$"$endif$>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
$for(author-meta)$
    <meta name="author" content="$author-meta$" />
$endfor$
$if(date-meta)$
    <meta name="dcterms.date" content="$date-meta$" />
$endif$
$if(keywords)$
    <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
$endif$
$if(description-meta)$
    <meta name="description" content="$description-meta$" />
$endif$
    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
    <style>
      $styles.html()$
    </style>
$for(css)$
    <link rel="stylesheet" href="$css$" />
$endfor$
$for(header-includes)$
    $header-includes$
$endfor$
  </head>
  <body>
    <div id="content">
$if(photo)$
      <img id="photo" src="$photo$" />
$endif$
      <div id="coordinates">
        <p>
$for(address)$
          $address$<br/>
$endfor$
        </p>
        <p>
          $mobile$<br/>
          <a href="mailto:$email$">$email$</a><br/>
          <a href="$website$">$website$</a><br/>
        </p>
      </div>
$for(include-before)$
      $include-before$
$endfor$
$if(title)$
      <header id="title-block-header">
$if(subtitle)$
        <p class="subtitle">$subtitle$</p>
$endif$
        <h1 class="title">$title$</h1>
$endif$
        <dl id="personal-data">
          <dt>Date of birth</dt>
          <dd>$date-of-birth$</dd>
          <dt>Nationality</dt>
          <dd>$nationality$</dd>
        </dl>
      </header>
      <main>
        $body$
$for(include-after)$
        $include-after$
$endfor$
      </main>
    </div>
  </body>
</html>
