<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="$lang$" xml:lang="$lang$"$if(dir)$ dir="$dir$"$endif$>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    $for(author-meta)$
    <meta name="author" content="$author-meta$" />
    $endfor$
    $if(date-meta)$
    <meta name="dcterms.date" content="$date-meta$" />
    $endif$
    $if(keywords)$
    <meta name="keywords" content="$for(keywords)$$keywords$$sep$, $endfor$" />
    $endif$
    $if(description-meta)$
    <meta name="description" content="$description-meta$" />
    $endif$
    <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
    <style>
      $styles.html()$
    </style>
    $for(css)$
    <link rel="stylesheet" href="$css$" />
    $endfor$
    $for(header-includes)$
    $header-includes$
    $endfor$
  </head>
  <body>
    <div class="markers"><div id="m1"></div><div id="m2"></div><div id="m3"></div></div>
    <div id="content">
      <p id="return_address">$author$ · $from_street$ · $from_po_code$ $from_city$</p>
      <p id="to_address">
        $addressee$<br/>
        $to_street$<br/>
        $to_po_code$ $to_city$<br/>
      </p>
      <p id="time_and_place">$from_city$, $date$</p>
      <p id="subject">$title$</p>
      <main>
        <p>$salutation$</p>
        $body$
        <p>$complimentary_close$</p>
        $if(signature)$<p id="signature"><img src="$signature$"/></p>$endif$
        <p id="signee">$author$</p>
      </main>
      $if(attachments)$
      <ul id="attachments">
        <em>$attachments_heading$</em>
        $for(attachments)$
        <li>$attachments$</li>
        $endfor$
      </ul>
      $endif$
    </div>
  </body>
</html>